* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    display: grid;
    justify-content: baseline;
    grid-template-columns: auto 300px;
    height: 100%;
}

aside {
    border-left: 1px solid #d6d6d6;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: .5em;
    overflow-x: hidden;
    overflow-y: auto;
}

.element {
    border: 1px solid #d6d6d6;
    display: block;
    width: fit-content;
    padding: 0.5em;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    background-color: white;
}

.element span:first-of-type {
    margin-right: 5px;
}

.element span:first-of-type img {
    width: 1em;
    height: 1em;
}

.element:hover {
    filter: brightness(.95);
}

.element.moveable {
    position: absolute;
}

.element.dragging {
    z-index: 10;
    pointer-events: none;
}

.element.loading {
    animation: 1s ease-in-out 1s infinite loading;
    opacity: 0.5;
    cursor: default !important;
}

@keyframes loading {
    0% {filter: brightness(1);}
    50% {filter: brightness(.9);}
    100% {filter: brightness(1);}
}

section {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    padding: 1em;
}

.overlay p.logo {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;
    cursor: default;
}

.overlay p.logo:hover, .overlay p.info:hover {
    opacity: 1;
}

.overlay a.original {
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: inherit;
    text-decoration: none;
}

.overlay a.original:hover {
    text-decoration: underline;
}

.overlay p.info {
    position: absolute;
    bottom: 1em;
    right: 1em;
    opacity: 0.5;
    cursor: default;
}

